<h2>Edit a blog post:</h2>

<%= form_with model: @blog, method: :patch do |form| %>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.label :content %>
    <%= form.text_field :content %>
    <%= form.submit "Change Post" %>
<% end %>

<p><%= link_to 'Back to Post', blog_path %></p>