<h3> <%= @blog.title %> <h3>
<p><%= @blog.content %></p>
<p><%= link_to 'Home', blogs_path %></p>
<p><%= link_to 'Edit', edit_blog_path %></p>
<p><%= button_to 'Delete Blog', delete_blog_path, method: :delete %></p>